*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    /* background-color: rgb(248, 248, 244); */
    


}

.container-fluid {
    padding: 0%;
    margin: auto;
}

.imgLogo {
    margin-left: 40px;
}
div .container {
    margin-bottom: 200px;
}
img .logoRecorte {
    width: 20px;
}

.hero{
    width: 100%;
    min-height: 70vh;
    /* background-image: url(../images/primeraF.jpg); */
    /*background-color: rgb(50, 40, 95);
    opacity: 0.9;*/
    background-position: center;
    background-size: cover;
    padding: 0px 5%;
    overflow: hidden;
    position: relative;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 4px 15px;
    font-size: 18px;
}


h1.txtCursos {
    font-size: 50px;
    font-weight: bold;
    padding-left: 30px;
    color: white;
    
}


.hero2 {
    background-image: url("../images/terce03.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    min-height: 70vh;
    /*background-image: url(../images/primeraF.jpg);
    background-color: rgb(50, 40, 95);
    opacity: 0.9;*/
    background-position: center;
    background-size: cover;
    padding: 0px 5%;
    overflow: hidden;
    position: relative;
}

.anim-txt {
    padding-top: 60px;
}

img.feature-img.anim.cara2{
    width: 100%;
    position: absolute;
    top: 30px;
    /* bottom: 1rem; */
    right: 5px;
    /* border-radius: 60%; */
    margin: auto;
    opacity: 1;
    transform: translateY(0px);
    
    

    
}


/*:::: CANTACTO ::::*/

h1.txtFormulario {
    font-size: 30px;
    font-weight: 600;
    padding-left: 10px;
    color: rgb(209, 142, 53);

}
#nombre.control #apellido.control #email.control #mensaje.control{
    font-size: 14px;
    padding-bottom: 5px;
} 

.fondo{
    background-image: url(../images/0055.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    width: 400px;
    padding: 20px 20px 10px 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(41, 3, 3);
    box-shadow: 7px 13px 37px #000;
}

.formulario {
    width: 500px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 218, 182);
    

}

form .formulario {
    justify-content: center;
    align-items: center;
}
.container2 {
    background-size: cover;
}
.content{
    margin-top: 10%;
    /*max-width: 600px;*/
}
.content h1{
    font-size: 70px;
    color: rgb(245, 245, 248);
    font-weight: bold;
}
.content p{
    margin: 10px 0 30px;
    color: rgb(245, 239, 239);
    animation-delay: 0.5s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

/*:::: Imagen Hero ::::*/

h1 {
    z-index: 2;
}

.feature-img{
    width: 27rem;
    position: absolute;
    bottom: 0;
    right: 5px;
}
h1.anim{
    font-size: 70px;
    font-weight: bold;
    position: relative;
    
}

p.anim {
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.feature-img.anim{
    animation-delay: 2s;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
    padding-left: 15px;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }    
}

/*CARD SALUD*/

div .card {
    min-width: 200px;
    flex: 350px;
}

div.Cursos centrados {
    width: 90%;
    padding: 80px 0;
    margin: auto;
    max-width: 1200px;
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
}

div.salud {
    width: 90%;
    padding: 80px 0;
    margin: auto;
    max-width: 1200px;
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
}
.container card salud {
    display: flex
}

.salud {
    margin: auto;
}


.texto salud {
    width: 50%;
    text-align: justify;
    padding: 0px 30px;

}
/* img.imgRedonda {
    width: 100px;
    border-radius: 50%;
} */
div.parrafo {
    color: white;
    padding: 0px 10px 0px 50px;
}

.card shadow {
    border-radius: 50%;
}


div.salud {
    width: 90%;
    padding: 80px 0;
    margin: auto;
    max-width: 1200px;
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
}

div .card {
    margin:auto;
}


.acordeon {
    width:auto;
    height: 40vh;
}


/*:::::::::::::::::::Media Queries::::::::::::::::::*/



    /*:::::: TABLET ::::::*/

@media (max-width: 768px) {

    h1 {
        z-index: 2;
    }

    img.feature-img.anim.cara{
        width: 20rem;
        object-fit: contain;
        z-index: 0;
        
}
h1 .anim {
    z-index: 2;
}



    p.anim {
        font-size: 16px;
    }

        nav ul li{
            display: inline-block;
            list-style: none;
            margin: 0px 8px;
            font-size: 14px;
        }

    .foot {
        font-size: 14px;
    }

    h1.txtCursos {
        font-size: 40px;
        font-weight: bold;
        padding-left: 30px;
        color: white;
    }
        
    
}
/*:::::::::::: Desktop :::::::::::*/

/* @media (max-width: 1024px) {
    img.feature-img.anim.cara{
        width: 25rem;
        object-fit: contain;
        
        }


}

@media (max-width: 1440px) {
    img.feature-img.anim.cara {
        width: 28rem;

}
} */

/*:::::: Mobile ::::::*/
@media(max-width: 576px) {
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 0px 15px;
        font-size: 18px;
    }
    

    img {
        margin-left: 0px;
    }
    .imgLogo {
        margin-left: 10px;
    }


    .feature-img.anim{
        animation-delay: 0s;
    }
    

    img.feature-img.anim.cara{
        
        width: 15rem;
        position: absolute;
        top: 15px;
        /* bottom: 6rem; */
        right: 5px;
        border-radius: 50%;
        margin: auto;
        opacity: 0.2;
        transform: translateY(0px);
        
        

        
    }
    
    img.feature-img.anim.cara2{
        width: 30rem;
        position: absolute;
        top: 30px;
        /* bottom: 1rem; */
        right: 5px;
        /* border-radius: 60%; */
        margin: auto;
        opacity: 0.2;
        transform: translateY(0px);
        
        

        
    }

    h1.txtCursos {
        font-size: 30px;
        font-weight: bold;
        padding-left: 30px;
        color: white;
    
    }


h1 {
    z-index: 2;

}
        


h1.anim{
    font-size: 50px;
    font-weight: bold;
    opacity: 1;
}

p.anim {
    padding-top: 360px;
    font-size: 16px;
    z-index: 3;
}

p.anim-txt {
    padding-top: 190px;
    font-size: 16px;
    z-index: 3;
}

p .text-white-75.mb-4{
    color: rgb(114, 110, 110);
}

p .instituto {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.parrafo {
    color: white;
    padding: 0px 10px 0px 30px;
}

.texto salud {
    width: 80%;
    text-align: justify;
    padding: 0px 5px;

}
.fondo {
    width: 300px;
}


}



/* --------------------- CANTACTO ----------------------*/


.contacto {
    background-color: #6890c5;
	padding: 10px 0 70px 0;
    width: 100%;
}

.container {
    margin-right: 150px;
}

.contact-row {
	display: flex;
}
.contact-row-icon {
	width: 33%;
	text-align: center;
    /* margin-right: 26px; */
    padding-bottom: 100px;
    
}

.contact-row-icon img {
	height: 80px;
    
}

.tit-contacto {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px 0 60px 0;

}
    


